<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>zyre-static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C8107FA8B5A4DA08BF956FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ECBF25178404FDCA1058659</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236206DA61F54B75A658042E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>520759675F5343BB8212B1A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5354882966064E3BADC6FBDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70439D5D09604035A046C925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E0314AC9CF64B008E482613</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8496C1E5205141B1BA89D071</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A07D3D762FB46F5A52ACD98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DB8D498D85F4F40AA89C91A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F08EDEE7C5F48F7B50A806E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90BFB7BEB3F7434697E1C6FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>942EA034DF984BE697A7CDDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98004F18154C4F4187BD1D69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1447F3D22D64134856F00C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4B0864018564205951864D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5F35D99B1C24D099DCC6926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC0D9ADCC9FA4FAB8E8CA1E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B387BD2EB4FF446C83CB6885</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5B822E732E6436DB9F4180F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9144494A2D84642B6C8B8A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C074BB5D194B4A359967E53A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2038B17DCF947B2B8DBC390</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
